::-webkit-scrollbar{
  display: none;
}

.elevatorscrollbar{
  position: fixed;
  right: 9px;
  top: 0;
  height: 100vh;
  width: 3px;
  background:#ff6565;
  border-radius: 10px;
}

.elevatorthumb{
  position: fixed;
  right: 3px;
  top: 0;
  height: 32px;
  width: 16px;
  background-color: aqua;   
  border-radius: 10px;
}

.elevatorveil{
  position: fixed;
  right: 0;
  top: 0;
  right: 3px;
  height: 32px;
  width: 16px;
  background-color: transparent;
}

.elevatorveil:active{
  cursor: none;
}